<!-- Header Principal -->
<app-header></app-header>

<!-- Contenido Principal -->
<main class="main-content-wrapper" [class.full-page]="!showMainLayout">
  <div class="container" [class.no-container-padding]="!showMainLayout">
      <router-outlet></router-outlet>
  </div>
</main>

<!-- Footer -->
<footer class="main-footer">
  <div class="container">
    <p>© {{ currentYear }} Marktech. Todos los derechos reservados.</p>
  </div>
</footer>

<!-- Notificaciones Globales -->
<app-notification [notification]="notification$ | async"></app-notification>